:root {
  --primary-color: #827c97; /*|| 37304c || 827c97; */
  --secondary-color: #ec7c52; /*|| a55833 || f1a37a; */
  --accent-color: #a0a0a050; /*|| 504f4d || 9c9b99; */
  --bg-color: #708b7f; /*#e4e4e4; || a0a0a0 || ececec; */
  --text-color: #204e3b; /*|| 3b9b41; */
}

/* GLOBAL STYLING */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
.test {
  position: absolute;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Lato", "sans-serif";
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* GENERAL STYLING */
.app {
  background-color: var(--bg-color);
  min-height: 100vh;
}

.bold {
  font-weight: 600;
}

.center {
  margin: 0 auto;
}

.container {
  max-width: 80%;
  margin: auto;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 0.45rem;
  margin: 0 0.25rem;
  color: var(--text-color);
}

/* DRINK LIST & CARDS */
.drink-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  margin: 2rem;
  text-align: center;
  background-color: var(--accent-color);
  padding: 2rem;
  color: var(--text-color);
}

.card img {
  border-radius: 100%;
}

.extra-info {
  margin-bottom: 1rem;
}

.detail {
  text-align: start;
  display: inline-block;
  margin-top: 2rem;
}

/* INTERACTABLES */
.btn {
  display: block;
  background: var(--secondary-color);
  color: var(--text-color);
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
}

.filter-container {
  justify-content: center;
  width: 50rem;
}

.interactable {
  flex-grow: 1;
  border: 1px solid black;
  height: 100%;
  margin-right: 0.5rem;
  padding: 0.2rem
}

.form {
  display: flex;
  margin: 0.5rem;
}

.clear {
  margin-top: 1rem;
  width: 50%;
}

/* SPINNER */
.spinner {
  display: block;
  margin: 0 auto;
}
